{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{covertool, [
    {coverdata_files, [
        "ct.coverdata",
        "eunit.coverdata"
    ]}
]}.

{deps, [
    {ecc_compact, "1.0.5"},
    {enacl, "1.1.1"},
    {erl_base58, "0.0.1"},
    {multiaddr, "1.1.3"}
]}.

{erl_opts, [
    warn_untyped_records,
    debug_info,
    warnings_as_errors
]}.

{plugins, [covertool, erlfmt]}.

{shell, [{apps, [libp2p_crypto]}]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    %locals_not_used,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all, export_all]},
        {deps, [
            cth_readable,
            meck
        ]}
    ]}
]}.

%% {edoc_opts, [
%%     {dir, "gh_pages/"}
%% ]}.
